.button-link {
    @apply flex border px-3 my-auto py-2 text-xs
        hover:bg-amber-500
        transition-all duration-200;

    @extend .rounded-xss;

    &:hover {
        @apply text-white duration-75;

        svg {
            @apply fill-current;
        }
    }

    svg {
        @apply fill-amber-700 delay-100 ml-2;

        height: 18px;
        width: 18px;
    }

    .text {
        @apply text-amber-700 font-semibold ml-2;
    }
}
